@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Playfair+Display:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Rye&display=swap');


:root {
    /* Paleta de Cores */
    --cor-pagina-principal: #D0B9A7;
    /*Cor página principal*/
    --cor-primaria: #734832;
    /* Marrom terroso dos botões */
    --cor-primaria-hover: #5A3827;
    /* Marrom um pouco mais escuro para o efeito de hover */
    --cor-header: #B9947C;
    /* Marrom claro do header */
    --cor-fundo-modal: #efece8;
    /* Bege bem claro do modal de login */
    --cor-fundo-topo: #D1C9C1;
    /* Fundo cinza/bege da parte de cima da página */
    --cor-card-fundo: #d0b9a7;
    /* Fundo dos cards de produtos */
    --cor-card-produto: #b5a192;
    /* Fundo dos cards de produtos */
    --cor-fundo-base: #E3DDD5;
    /* Fundo mais claro da área de produtos */

    --cor-texto-titulo: #2B2B2B;
    /* Cinza bem escuro para os títulos */
    --cor-texto-padrao: #4A4A4A;
    /* Cinza médio para textos normais */
    --cor-placeholder: #A0A0A0;
    /* Cinza claro para os textos dentro do input */
    --cor-borda-input: #686868;
    /* Cinza da borda dos campos de digitar */
    --cor-link-header: #000000;
    /* Preto para os links do header */

    --cor-bom: #1cdf3d;
    --cor-ruim: #ec5151;
    --cor-fundo-barra: #eee4d9;
    --cor-fundo-barra-verde: #12b42d;
    --cor-fundo-barra-vermelha: #ec0808;

    --cor-erro: #ED4337;
    /* Vermelho para mensagens de erro */

    /* Fontes */
    --fonte-texto-inicial: 'Libre Baskerville', serif;
    --fonte-titulos: 'Playfair Display', serif;
    --fonte-textos: 'Montserrat', sans-serif;
    --fonte-header: 'Griffy', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    font-family: var(--fonte-textos);
    background-color: var(--cor-fundo-base);
    color: var(--cor-texto-padrao);
    display: flex;
    flex-direction: row;
}

header {
    width: 10%;
    min-width: 100px;
    height: 100vh;
    background-color: var(--cor-header);
    display: flex;
    justify-content: space-between;
    padding: 0;
    border-right: var(--cor-primaria-hover) 3px solid;
    position: fixed;
}

#logo_header {
    width: 60%;
    height: auto;
    /* background-color: var(--cor-fundo-topo); */
    display: flex;
    margin: 20px auto;
}

#nav_header {
    border-top: 1px solid var(--cor-primaria-hover);
    width: 100%;
    height: 40%;
    padding: 0 10px;
    /* background-color: var(--cor-erro); */
    display: flex;
    flex-direction: column;
}

#nav_header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    /* background-color: rgb(87, 87, 87); */
}

#nav_header li {
    display: flex;
}

#nav_header a {
    text-decoration: none;
    color: var(--cor-texto-padrao);
    font-weight: 600;
    font-size: clamp(0.6rem, 1vw, 1rem);
    width: 100%;
    display: flex;
    gap: 10%;
    align-items: center;
    padding: 10px 12px;
    border-radius: 8px;
    transition: background-color 0.25s ease, color 0.25s ease, transform 0.25s ease;

}

#nav_header a:hover,
#nav_header a:focus-visible {
    /*usa quando aperta o tab, fica mesma coisa de um hover*/
    background-color: rgba(255, 255, 255, 0.22);
    color: var(--cor-primaria-hover);
    transform: translateX(4px);
    outline: none;
}

#nav_header a img {
    transition: transform 0.25s ease, filter 0.25s ease;
}

#nav_header a:hover img,
#nav_header a:focus-visible img {
    transform: scale(1.05);
    filter: brightness(0.8);
}

main {
    width: 90%;
    height: auto;
    margin-left: 10%;
    padding: 20px;
    background-color: var(--cor-fundo-modal);
}

#container_inicial {
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#titulo_dash {
    font-family: var(--fonte-titulos);
    font-size: clamp(1.5rem, 2vw, 2rem);
    color: var(--cor-primaria);
    margin: 0;
    padding: 0;
    line-height: normal;
}

#botao_adicionar {

    background-color: #35523a;
    color: var(--cor-fundo-modal);
    width: 12%;
    height: 50%;
    border-radius: 10px;
}

#botao_adicionar:hover {

    background-color: #64893f;
    transform: translateY(-2px);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.6);
}

.conteiner_pesquisa {

    height: 15%;
    border: solid 2px var(--cor-header);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.input_pesquisa {

    width: 85%;
    height: 40%;
    border-color: var(--cor-primaria-hover);
    border-radius: 10px;
}

.botao_pesquisa {

    background-color: var(--cor-primaria-hover);
    color: var(--cor-fundo-base);
    width: 10%;
    height: 38%;
    border-radius: 10px;
}

.botao_pesquisa:hover {

    background-color: #70442b;
    transform: translateY(-1px);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.6);
}


.conteiner_estoque_produtos {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.titulo_tabela {

    background-color: var(--cor-fundo-topo);
    color: var(--cor-texto-titulo);
    font-weight: 600;
    height: 40px;
}


thead {
    background-color: #fdf9f9e0;
    color: var(--cor-texto-titulo);
    font-weight: 600;
    height: 40px;
}

tbody {
    color: var(--cor-texto-padrao);
    font-weight: 400;
}

th {
    height: 40px;
}

.quantidade_por_tamanho {

    width: 100%;
    height: 2;
}

.conteiner_cards_alteracao {

    border-radius: 15px;
    border: solid 3px var(--cor-card-fundo);
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 2vh;
}

.conteiner_cards_alteracao h2 {

    font-family: var(--fonte-titulos);
    font-size: 18px;
    color: var(--cor-texto-titulo);
}

.alterar_quantidade {

    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 4vh;
}

.tamanho {

    width: 8%;
    border-radius: 15px;
    border: solid 2px var(--cor-card-fundo);
    padding: 2%;
    background-color: var(--cor-fundo-modal);
}

.tamanho p {

    font-family: var(--fonte-textos);
    font-size: 12px;
    color: var(--cor-borda-input);
}

.tamanho input {

    width: 100%;
    border: none;
    background-color: var(--cor-fundo-modal);
    text-align: end;

}

.conteiner_tamanhos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.conteiner_imagem_produto {

    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.conteiner_imagem_produto img {
    background-color: white;
    border-radius: 10px;
    width: 70%;
    height: 12vh;
}

.conteiner_roupa_id {
    width: 80%;
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 25px;
}

.titulo_produto {

    font-family: var(--fonte-titulos);
    font-size: 20px;

}

.id_produto {

    font-family: var(--fonte-textos);
    margin-top: 5px;
}

.preco_produto {

    color: var(--cor-primaria-hover);
    font-size: 20px;
}

.conteiner_tamanhos {

    gap: 8px;
}

.tamanho_p,
.tamanho_m,
.tamanho_g,
.tamanho_gg {

    border: solid 2px var(--cor-borda-input);
    background-color: var(--cor-placeholder);
    border-radius: 8px;
    font-size: 15px;
    height: 4vh;
    max-width: 6vw;
    min-width: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fechar_edicao_qtd,
#abrir_edicao_qtd {

    background-color: #ffffff;
    border: none;
}

.status_produto {

    background-color: #4afc689d;
    color: #35523a;
    border-radius: 25px;
    font-size: 15px;
    margin: 10px;
}

.edicoes {

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;


}


.icon_editar_card, .icon_excluir_card{

background-color: transparent;
border: none;
cursor: pointer;

}

#novo_produto, #novo_produto_2 {
    display: none;
    width: 30dvw;
    height: 88dvh;
    background-color: #fcf4ed;
    box-shadow: 0px 4px 10px black;
    border: solid 1px var(--cor-header);
    position: absolute;
    top: 5%;
    left: 35%;
    border-radius: 10px;
}

#edicao_produto, #edicao_produto_2 {

    display: none;
    width: 30dvw;
    height: 88dvh;
    background-color: #fcf4ed;
    box-shadow: 0px 4px 10px black;
    border: solid 1px var(--cor-header);
    position: absolute;
    top: 5%;
    left: 35%;
    border-radius: 10px;


}

.conteiner_decisao_produto {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15%;
    border-bottom: solid 2px var(--cor-placeholder);

}

.svg_botao_sair {

    margin: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.conteiner_titulo_edicao_produto {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.conteiner_titulo_edicao_produto h2 {

    margin-left: 25px;
    font-family: var(--fonte-titulos);
    color: var(--cor-primaria);

}

.conteiner_titulo_edicao_produto p {

    font-size: 13px;
    color: var(--cor-borda-input);
    margin-left: 25px;

}

.conteiner_status {

    display: flex;
    flex-direction: row;
    align-items: center;
    height: 7%;
    margin-left: 25px;
    gap: 5px;

}

.conteiner_status h2 {

    padding: 3%;
    background-color: var(--cor-primaria-hover);
    color: white;
    border-radius: 100%;
    height: 10px;
    width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;

}

.conteiner_status h3 {

    color: var(--cor-primaria);
}

.conteiner_status p {

    color: var(--cor-primaria);
    margin-bottom: 10px;
}

.exportar_imagem {

    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.exportar_imagem p {

    display: flex;
    width: 85%;
    margin-bottom: 2px;
}

.img_para_exportar {

    width: 85%;
    height: 85%;
    border-radius: 15px;
    border: dashed 2px var(--cor-primaria-hover);
}

.novas_info_produto {

    height: 30%;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    justify-content: center;

}

.novas_info_produto p {

    font-size: 15px;
    margin-top: 12px;
    font-family: var(--fonte-textos);


}

.input_nome_produto,
.input_preco {

    height: 17%;
    border-color: var(--cor-card-fundo);
    border-radius: 5px;


}

.input_descricao {

    height: 25%;
    border-color: var(--cor-card-fundo);
    border-radius: 5px;

}

.botoes_edicao {

    gap: 15px;
    height: 12%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botao_cancelar_edicao {


    color: var(--cor-texto-titulo);
    width: 25%;
    height: 50%;
    border-radius: 25px;
}

.botao_cancelar_edicao:hover {

    background-color: var(--cor-primaria);
    transition: 900ms;
    color: white;
    transform: scale(-2y);

}

.botao_continuar_edicao {

    color: var(--cor-fundo-modal);
    width: 25%;
    height: 50%;
    border-radius: 25px;
    background-color: var(--cor-primaria-hover);

}

.botao_continuar_edicao:hover {

    background-color: var(--cor-primaria);
    transition: 900ms;
    color: white;
    transform: scale(-2y);

}